<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="">
        <label for="username">Username</label>
        <input type="text" name="username">

        <label for="username">Password</label>
        <input type="password" name="password1">

        <label for="username">Confirm password</label>
        <input type="password" name="password2">

        <input type="submit" value="Register">

    </form>
</body>
</html>