{% extends 'main/main.html' %}
{% load static  %}

{% block content %}

  <section class="service_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Services
        </h2>
<br>
        <p style="font-size: 20px; font-weight:530;">
          Are you looking for someone who can transform your old, outdated piece in your home into a stylish seating or lounging option that you will love, then you are at the right place.
        </p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{%static 'images/IMG_20231123_121654_760.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              
              <a href="#">
                Upholstery
              </a>
              <p>
                <ul>
                  <li>Upholstery: Reupholster your furniture with our expert craftsmen, using high-quality fabric</li>
                  <li>Furniture restoration: Restore damaged furniture to its original beauty with pur expert restoration techniques</li>
                  <li>Reupholstery: Breathe new life your worn-out furniture with our reupholstery services</li>
                  <li>Furniture repair: Fix broken furniture and extend its lifespan with our skilled repair services</li>
                </ul>
              </p>
            </div> 
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{%static 'images/IMG_20231216_145840_401.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <a href="#">
                Custom Creations
              </a>

              <p>
                <li>Headboards: Design and create bespoke headboards from scratch, to match you unique style.</li>
                <li>Blanket boxes and Ottomans: Craft custom storage solutions tailored to ur needs</li>
                <li>Lampshades: Design and manufacture custom lampshades to complement your interior.</li>
              </p>
              
              
            </div>
          </div>
        </div>
        
       
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/IMG_20231216_150636_220.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <a href="#">
                Window Treatments
              </a>

              <p>
                <li>Roman Blinds: Create elegant, functional window treatment with our roman blind services.</li>
                <li>Curtains: Craft beautiful, custom curtains to enhance your windows and interior design</li>
              </p>
            </div>
            
           
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{%static 'images/IMG_20231123_121654_760.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              
              <a href="#">
                Other Services
              </a>
              <p> 
                <li>Tents and Shades: Provide shade solutions for outdoor spaces with our tent and shade services</li>
                <li>Cushions: Create custom cushions tailored to your unique style and comfort needs.
                </li>
                <li>Scatter cushions: Add a pop of color and comfort with our beautifully crafted scatter cushions
                </li>
                <li>Furniture Refinishing: Refinish your furniture to its original glory or update its look.</li>
                <li>Furniture polishing: Polish your furniture to a high shine, enhancing its beauty and protecting its finish</li>
              </p>
            </div> 
          </div>
        </div>

        
        
      </div>
    </div>


  </section>

  <!-- end service section -->

{% endblock content %}

</html>